//colors
$olive: #3d9970;
$white: #fff;
$gray: #aaa;
$black: #111;
$silver: #ddd;

$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 640px)";
$desktop-width: "screen and (min-width: 960px)";
